<main class="splash">
  <div class="app_logo">
    <img src="/assets/logo.png" alt="logo" />
    <h1>My Pocket</h1>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="user_sign">
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  </div>
</main>